@media (min-width: 1367px) {
	.criar-pizza-titulo {
		font-size: 3.25rem;
	}
	.criar-pizza-escolha {
		font-size: 2.2rem;
	}
	.criar-pizza-radio,
	.criar-pizza-check {
		font-size: 1.5rem;
	}
	.checkbox > input:checked + span::before {
		font-size: 1.5rem;
	}
	input[type="radio"]:after {
		width: 1.25rem;
		height: 1.25rem;
		top: -0.5rem;
		left: -0.25rem;
		font-size: 2rem;
	}
	input[type="radio"]:checked:after {
		width: 1.25rem;
		height: 1.25rem;
		top: -0.5rem;
		left: -0.25rem;
		font-size: 2rem;
	}
	.btn-qtd-bebida {
		width: 7.25rem !important;
	}
}

@media (min-width: 769px) and (max-width: 1366px) {
	.criar-pizza-titulo {
		font-size: 2.75rem;
	}
	.criar-pizza-escolha {
		font-size: 1.9rem;
	}
}

@media (max-width: 768px) {
	.criar-pizza-titulo {
		font-size: 2rem;
	}
	.criar-pizza-escolha {
		font-size: 1.5rem;
	}
	.criar-pizza-input {
		font-size: 1.1rem;
	}
	.criar-pizza-radio,
	.criar-pizza-check {
		font-size: 1.1rem;
		margin-bottom: -0.25rem !important;
	}
	.checkbox > input:checked + span::before {
		font-size: 1.3rem;
		left: -0.0125rem !important;
		top: -0.3rem !important;
	}
	input[type="radio"]:after {
		width: 1.1rem;
		height: 1.1rem;
		top: -0.18rem;
		left: -0.1rem;
	}
	input[type="radio"]:checked:after {
		width: 1.1rem;
		height: 1.1rem;
		top: -0.18rem;
		left: -0.1rem;
	}
}

@media (max-width: 576px) {
	.criar-pizza-titulo {
		font-size: 1.75rem;
	}
	.criar-pizza-escolha {
		font-size: 1.25rem;
	}
	.criar-pizza-input {
		font-size: 1rem;
	}
	.criar-pizza-radio,
	.criar-pizza-check {
		font-size: 1rem;
		margin-bottom: -0.1rem !important;
	}
	.checkbox > input:checked + span::before {
		font-size: 1.3rem;
		left: -0.0125rem !important;
		top: -0.3rem !important;
	}
}

@media (max-width: 374px) {
	.criar-pizza-titulo {
		font-size: 1.5rem;
	}
	.criar-pizza-escolha {
		font-size: 1.1rem;
	}
	.criar-pizza-input {
		font-size: 0.9rem;
	}
	.criar-pizza-radio,
	.criar-pizza-check {
		font-size: 0.9rem;
		margin-bottom: -0.1rem !important;
	}
}

.criar-pizza-img-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.criar-pizza-titulo {
	text-decoration: underline;
}

.criar-pizza-img {
	width: 100%;
}

.btn-qtd-bebida {
	border: 2px solid var(--black);
	width: 6.5rem;
	min-height: 0.75rem;
}
.btn-qtd-bebida button {
	border: none;
	background-color: var(--white);
	padding: 0rem 1rem;
	min-height: 0.75rem;
}

.btn-qtd-bebida label {
	color: var(--yellow);
	margin-bottom: 0;
}

.btn-criar-pizza {
	margin: 1rem 2rem;
}

.btn-add-pizza {
	padding: 0.3rem 1.5rem;
	min-height: 3rem;
	background-color: var(--white);
}

.modal-content {
	border-radius: 0;
}

.modal-header {
	border: none;
	padding-top: 0.5rem;
	padding-bottom: 0;
	font-size: 1.5rem;
}

.modal-header .close {
	font-size: 2.5rem;
}

.modal-body {
	padding-top: 0;
}
